<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script type="text/javascript" src="/jquery/jquery-3.6.0.min.js"></script>
</head>
<body>

<script type="text/javascript" src="/js/main.js"></script>


<section class="login">
    <div class="login_box">
        <div class="left">
            <div class="top_link">
                <!--<a href="#" onclick="main.fn_returnHomeBtn();"><img src="https://drive.google.com/u/0/uc?id=16U__U5dJdaTfNGobB_OpwAJ73vM50rPV&export=download" alt="">Return home</a></div>-->
                <a href="#" onclick="main.fn_returnHomeBtn();"><img src="/image/left-arrow.png" alt="">Return home</a></div>
            <div class="contact">
                <form id="logIn">
                    <h3>LOG IN</h3>
                    <input type="text" id="userId" placeholder="ID">
                    <input type="text" id="password" placeholder="PASSWORD">
                    <button class="submit">LogIn</button>
                </form>
            </div>
        </div>
        <div class="right">
            <div class="right-text">
                <h2>RBAC</h2>
                <h5>Copyright by Daniel</h5>
            </div>
            <div class="right-inductor">

			</div>
        </div>
    </div>
</section>
</body>
</html>