<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.daniel.rbac.user.mapper.UserMapper">
    <select id="getUserId" parameterType="String" resultType="com.daniel.rbac.user.vo.UserVO">
--         SELECT ID FROM USER_INFO WHERE ID = #{id}
        SELECT 'TEST' AS ID FROM DUAL
    </select>

    <select id="getDbStatus" resultType="String">
        SELECT 'ORACLE' as DB_STATUS FROM DUAL
    </select>
</mapper>