<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="callSettersOnNulls" value="true"/>
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>

    <typeAliases>
        <typeAlias alias="paramMap" type="java.util.HashMap" />
        <typeAlias alias="hashmap" type="java.util.HashMap" />
        <typeAlias alias="list" type="java.util.List" />
        <typeAlias alias="userVO" type="com.daniel.rbac.user.vo.UserVO" />
        <package name="com.daniel.rbac.user" />
    </typeAliases>

</configuration>